<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,83}</string>
                <key>spriteSourceSize</key>
                <string>{107,83}</string>
                <key>textureRect</key>
                <string>{{412,81},{107,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{106,86}</string>
                <key>textureRect</key>
                <string>{{1562,81},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{1463,168},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,89}</string>
                <key>spriteSourceSize</key>
                <string>{101,89}</string>
                <key>textureRect</key>
                <string>{{310,168},{101,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,83}</string>
                <key>spriteSourceSize</key>
                <string>{102,83}</string>
                <key>textureRect</key>
                <string>{{208,81},{102,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,81}</string>
                <key>spriteSourceSize</key>
                <string>{102,81}</string>
                <key>textureRect</key>
                <string>{{106,81},{102,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,88}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{0,168},{104,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,93}</string>
                <key>spriteSourceSize</key>
                <string>{106,93}</string>
                <key>textureRect</key>
                <string>{{1780,168},{106,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_09_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{106,86}</string>
                <key>textureRect</key>
                <string>{{1354,81},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{720,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,75}</string>
                <key>spriteSourceSize</key>
                <string>{107,75}</string>
                <key>textureRect</key>
                <string>{{613,0},{107,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,84}</string>
                <key>spriteSourceSize</key>
                <string>{108,84}</string>
                <key>textureRect</key>
                <string>{{622,81},{108,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,91}</string>
                <key>spriteSourceSize</key>
                <string>{108,91}</string>
                <key>textureRect</key>
                <string>{{1043,168},{108,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_14_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{519,168},{104,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_15_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,83}</string>
                <key>spriteSourceSize</key>
                <string>{102,83}</string>
                <key>textureRect</key>
                <string>{{310,81},{102,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,77}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{1039,0},{103,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_17_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,83}</string>
                <key>spriteSourceSize</key>
                <string>{103,83}</string>
                <key>textureRect</key>
                <string>{{519,81},{103,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_18_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,88}</string>
                <key>spriteSourceSize</key>
                <string>{103,88}</string>
                <key>textureRect</key>
                <string>{{104,168},{103,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_19_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,81}</string>
                <key>spriteSourceSize</key>
                <string>{102,81}</string>
                <key>textureRect</key>
                <string>{{1865,0},{102,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_20_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{302,0},{100,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_21_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,65}</string>
                <key>spriteSourceSize</key>
                <string>{100,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_22_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,74}</string>
                <key>spriteSourceSize</key>
                <string>{104,74}</string>
                <key>textureRect</key>
                <string>{{509,0},{104,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_23_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,87}</string>
                <key>spriteSourceSize</key>
                <string>{106,87}</string>
                <key>textureRect</key>
                <string>{{1874,81},{106,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_24_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{1359,168},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_25_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,86}</string>
                <key>spriteSourceSize</key>
                <string>{102,86}</string>
                <key>textureRect</key>
                <string>{{1460,81},{102,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_26_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,80}</string>
                <key>spriteSourceSize</key>
                <string>{102,80}</string>
                <key>textureRect</key>
                <string>{{1249,0},{102,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_27_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,84}</string>
                <key>spriteSourceSize</key>
                <string>{103,84}</string>
                <key>textureRect</key>
                <string>{{730,81},{103,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_28_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{623,168},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_29_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,92}</string>
                <key>spriteSourceSize</key>
                <string>{106,92}</string>
                <key>textureRect</key>
                <string>{{1253,168},{106,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_30_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,85}</string>
                <key>spriteSourceSize</key>
                <string>{106,85}</string>
                <key>textureRect</key>
                <string>{{1145,81},{106,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_31_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{933,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_32_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,76}</string>
                <key>spriteSourceSize</key>
                <string>{107,76}</string>
                <key>textureRect</key>
                <string>{{826,0},{107,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_33_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,85}</string>
                <key>spriteSourceSize</key>
                <string>{108,85}</string>
                <key>textureRect</key>
                <string>{{1037,81},{108,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_34_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,92}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{1673,168},{107,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_35_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,87}</string>
                <key>spriteSourceSize</key>
                <string>{103,87}</string>
                <key>textureRect</key>
                <string>{{1771,81},{103,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_36_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,80}</string>
                <key>spriteSourceSize</key>
                <string>{102,80}</string>
                <key>textureRect</key>
                <string>{{1661,0},{102,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_37_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,80}</string>
                <key>spriteSourceSize</key>
                <string>{103,80}</string>
                <key>textureRect</key>
                <string>{{1351,0},{103,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_38_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{1251,81},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_39_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,88}</string>
                <key>spriteSourceSize</key>
                <string>{103,88}</string>
                <key>textureRect</key>
                <string>{{207,168},{103,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_40_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,81}</string>
                <key>spriteSourceSize</key>
                <string>{102,81}</string>
                <key>textureRect</key>
                <string>{{1763,0},{102,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_41_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{202,0},{100,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_42_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,66}</string>
                <key>spriteSourceSize</key>
                <string>{102,66}</string>
                <key>textureRect</key>
                <string>{{100,0},{102,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_43_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,80}</string>
                <key>spriteSourceSize</key>
                <string>{105,80}</string>
                <key>textureRect</key>
                <string>{{1454,0},{105,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_44_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,92}</string>
                <key>spriteSourceSize</key>
                <string>{106,92}</string>
                <key>textureRect</key>
                <string>{{1567,168},{106,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_45_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,91}</string>
                <key>spriteSourceSize</key>
                <string>{102,91}</string>
                <key>textureRect</key>
                <string>{{1151,168},{102,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_46_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,84}</string>
                <key>spriteSourceSize</key>
                <string>{101,84}</string>
                <key>textureRect</key>
                <string>{{833,81},{101,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_47_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,80}</string>
                <key>spriteSourceSize</key>
                <string>{102,80}</string>
                <key>textureRect</key>
                <string>{{1559,0},{102,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_48_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,84}</string>
                <key>spriteSourceSize</key>
                <string>{103,84}</string>
                <key>textureRect</key>
                <string>{{934,81},{103,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_49_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,91}</string>
                <key>textureRect</key>
                <string>{{728,168},{105,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_50_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,91}</string>
                <key>textureRect</key>
                <string>{{833,168},{105,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_51_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,81}</string>
                <key>spriteSourceSize</key>
                <string>{106,81}</string>
                <key>textureRect</key>
                <string>{{0,81},{106,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_52_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,73}</string>
                <key>spriteSourceSize</key>
                <string>{107,73}</string>
                <key>textureRect</key>
                <string>{{402,0},{107,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_53_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,79}</string>
                <key>spriteSourceSize</key>
                <string>{107,79}</string>
                <key>textureRect</key>
                <string>{{1142,0},{107,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_54_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,89}</string>
                <key>spriteSourceSize</key>
                <string>{108,89}</string>
                <key>textureRect</key>
                <string>{{411,168},{108,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_55_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,91}</string>
                <key>textureRect</key>
                <string>{{938,168},{105,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_56_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,87}</string>
                <key>spriteSourceSize</key>
                <string>{103,87}</string>
                <key>textureRect</key>
                <string>{{1668,81},{103,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss2Run.png</string>
            <key>size</key>
            <string>{1980,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26e13d87cd0c9e7662b5e108408c6ffc:c0710062885a49440894191161aa377d:36ea9a03ae9a6ae360c4ca8e91f18826$</string>
            <key>textureFileName</key>
            <string>boss2Run.png</string>
        </dict>
    </dict>
</plist>
