<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,110}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{229,514},{96,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,110}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{341,516},{96,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,110}</string>
                <key>spriteSourceSize</key>
                <string>{93,110}</string>
                <key>textureRect</key>
                <string>{{1,411},{93,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,112}</string>
                <key>spriteSourceSize</key>
                <string>{88,112}</string>
                <key>textureRect</key>
                <string>{{115,235},{88,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,113}</string>
                <key>spriteSourceSize</key>
                <string>{81,113}</string>
                <key>textureRect</key>
                <string>{{121,152},{81,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,112}</string>
                <key>spriteSourceSize</key>
                <string>{75,112}</string>
                <key>textureRect</key>
                <string>{{234,75},{75,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,114}</string>
                <key>spriteSourceSize</key>
                <string>{72,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,114}</string>
                <key>spriteSourceSize</key>
                <string>{72,114}</string>
                <key>textureRect</key>
                <string>{{117,1},{72,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_09_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,115}</string>
                <key>spriteSourceSize</key>
                <string>{74,115}</string>
                <key>textureRect</key>
                <string>{{1,75},{74,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,121}</string>
                <key>spriteSourceSize</key>
                <string>{83,121}</string>
                <key>textureRect</key>
                <string>{{361,154},{83,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,125}</string>
                <key>spriteSourceSize</key>
                <string>{96,125}</string>
                <key>textureRect</key>
                <string>{{113,612},{96,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,117}</string>
                <key>spriteSourceSize</key>
                <string>{110,117}</string>
                <key>textureRect</key>
                <string>{{234,928},{110,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{122,98}</string>
                <key>textureRect</key>
                <string>{{107,710},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_14_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,87}</string>
                <key>spriteSourceSize</key>
                <string>{127,87}</string>
                <key>textureRect</key>
                <string>{{229,238},{127,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_15_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,93}</string>
                <key>spriteSourceSize</key>
                <string>{130,93}</string>
                <key>textureRect</key>
                <string>{{113,418},{130,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,125}</string>
                <key>spriteSourceSize</key>
                <string>{103,125}</string>
                <key>textureRect</key>
                <string>{{353,715},{103,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_17_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,120}</string>
                <key>spriteSourceSize</key>
                <string>{102,120}</string>
                <key>textureRect</key>
                <string>{{231,712},{102,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_18_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,108}</string>
                <key>spriteSourceSize</key>
                <string>{113,108}</string>
                <key>textureRect</key>
                <string>{{1,916},{113,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_19_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,105}</string>
                <key>spriteSourceSize</key>
                <string>{122,105}</string>
                <key>textureRect</key>
                <string>{{126,816},{122,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_20_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{116,923},{108,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_21_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,134}</string>
                <key>spriteSourceSize</key>
                <string>{89,134}</string>
                <key>textureRect</key>
                <string>{{114,327},{89,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_22_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,123}</string>
                <key>spriteSourceSize</key>
                <string>{82,123}</string>
                <key>textureRect</key>
                <string>{{236,154},{82,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_23_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,108}</string>
                <key>spriteSourceSize</key>
                <string>{94,108}</string>
                <key>textureRect</key>
                <string>{{245,418},{94,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_24_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,108}</string>
                <key>spriteSourceSize</key>
                <string>{99,108}</string>
                <key>textureRect</key>
                <string>{{392,614},{99,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_25_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,103}</string>
                <key>spriteSourceSize</key>
                <string>{104,103}</string>
                <key>textureRect</key>
                <string>{{1,701},{104,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_26_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,107}</string>
                <key>spriteSourceSize</key>
                <string>{111,107}</string>
                <key>textureRect</key>
                <string>{{372,820},{111,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_27_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,106}</string>
                <key>textureRect</key>
                <string>{{250,820},{120,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_28_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,141}</string>
                <key>spriteSourceSize</key>
                <string>{110,141}</string>
                <key>textureRect</key>
                <string>{{353,929},{110,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_29_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,150}</string>
                <key>spriteSourceSize</key>
                <string>{96,150}</string>
                <key>textureRect</key>
                <string>{{240,614},{96,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_30_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,140}</string>
                <key>spriteSourceSize</key>
                <string>{86,140}</string>
                <key>textureRect</key>
                <string>{{358,239},{86,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_31_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,125}</string>
                <key>spriteSourceSize</key>
                <string>{91,125}</string>
                <key>textureRect</key>
                <string>{{377,327},{91,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_32_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,118}</string>
                <key>spriteSourceSize</key>
                <string>{94,118}</string>
                <key>textureRect</key>
                <string>{{355,420},{94,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_33_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,114}</string>
                <key>spriteSourceSize</key>
                <string>{95,114}</string>
                <key>textureRect</key>
                <string>{{113,513},{95,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_34_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,110}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{1,603},{96,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_35_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,110}</string>
                <key>spriteSourceSize</key>
                <string>{95,110}</string>
                <key>textureRect</key>
                <string>{{1,506},{95,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_36_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,111}</string>
                <key>spriteSourceSize</key>
                <string>{91,111}</string>
                <key>textureRect</key>
                <string>{{1,318},{91,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_37_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{1,231},{85,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_38_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,112}</string>
                <key>spriteSourceSize</key>
                <string>{77,112}</string>
                <key>textureRect</key>
                <string>{{348,75},{77,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_39_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,113}</string>
                <key>spriteSourceSize</key>
                <string>{72,113}</string>
                <key>textureRect</key>
                <string>{{233,1},{72,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_40_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,114}</string>
                <key>spriteSourceSize</key>
                <string>{72,114}</string>
                <key>textureRect</key>
                <string>{{348,1},{72,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_41_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,114}</string>
                <key>spriteSourceSize</key>
                <string>{74,114}</string>
                <key>textureRect</key>
                <string>{{118,75},{74,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_42_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,118}</string>
                <key>spriteSourceSize</key>
                <string>{78,118}</string>
                <key>textureRect</key>
                <string>{{1,151},{78,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_43_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,125}</string>
                <key>spriteSourceSize</key>
                <string>{89,125}</string>
                <key>textureRect</key>
                <string>{{250,327},{89,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_44_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{104,123}</string>
                <key>textureRect</key>
                <string>{{1,810},{104,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyBossAttack.png</string>
            <key>size</key>
            <string>{503,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:197931b6454272e1b8e810bfcc65cc22:e6703aa924bf9a79688c7f9d41ee8463:d02825d918467a7d67e57cb3b63f2820$</string>
            <key>textureFileName</key>
            <string>EnemyBossAttack.png</string>
        </dict>
    </dict>
</plist>
