<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,111}</string>
                <key>spriteSourceSize</key>
                <string>{89,111}</string>
                <key>textureRect</key>
                <string>{{224,994},{89,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,112}</string>
                <key>spriteSourceSize</key>
                <string>{90,112}</string>
                <key>textureRect</key>
                <string>{{232,1086},{90,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,112}</string>
                <key>spriteSourceSize</key>
                <string>{89,112}</string>
                <key>textureRect</key>
                <string>{{337,995},{89,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,111}</string>
                <key>textureRect</key>
                <string>{{1,816},{85,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,112}</string>
                <key>spriteSourceSize</key>
                <string>{78,112}</string>
                <key>textureRect</key>
                <string>{{328,232},{78,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,109}</string>
                <key>spriteSourceSize</key>
                <string>{76,109}</string>
                <key>textureRect</key>
                <string>{{223,152},{76,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,109}</string>
                <key>spriteSourceSize</key>
                <string>{77,109}</string>
                <key>textureRect</key>
                <string>{{1,225},{77,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,105}</string>
                <key>spriteSourceSize</key>
                <string>{81,105}</string>
                <key>textureRect</key>
                <string>{{331,312},{81,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_09_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{82,114}</string>
                <key>textureRect</key>
                <string>{{333,395},{82,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,120}</string>
                <key>spriteSourceSize</key>
                <string>{83,120}</string>
                <key>textureRect</key>
                <string>{{1,560},{83,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,111}</string>
                <key>spriteSourceSize</key>
                <string>{83,111}</string>
                <key>textureRect</key>
                <string>{{123,563},{83,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,111}</string>
                <key>spriteSourceSize</key>
                <string>{84,111}</string>
                <key>textureRect</key>
                <string>{{1,730},{84,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,115}</string>
                <key>spriteSourceSize</key>
                <string>{84,115}</string>
                <key>textureRect</key>
                <string>{{114,733},{84,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_14_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,115}</string>
                <key>spriteSourceSize</key>
                <string>{81,115}</string>
                <key>textureRect</key>
                <string>{{108,393},{81,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_15_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{334,154},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,116}</string>
                <key>spriteSourceSize</key>
                <string>{72,116}</string>
                <key>textureRect</key>
                <string>{{238,1},{72,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_17_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,116}</string>
                <key>spriteSourceSize</key>
                <string>{70,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_18_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,110}</string>
                <key>spriteSourceSize</key>
                <string>{75,110}</string>
                <key>textureRect</key>
                <string>{{119,73},{75,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_19_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,105}</string>
                <key>textureRect</key>
                <string>{{221,230},{79,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_20_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,105}</string>
                <key>spriteSourceSize</key>
                <string>{81,105}</string>
                <key>textureRect</key>
                <string>{{1,386},{81,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_21_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,113}</string>
                <key>spriteSourceSize</key>
                <string>{83,113}</string>
                <key>textureRect</key>
                <string>{{236,563},{83,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_22_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,116}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{347,820},{85,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_23_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,109}</string>
                <key>spriteSourceSize</key>
                <string>{88,109}</string>
                <key>textureRect</key>
                <string>{{1,991},{88,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_24_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,111}</string>
                <key>spriteSourceSize</key>
                <string>{90,111}</string>
                <key>textureRect</key>
                <string>{{346,1086},{90,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_25_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,113}</string>
                <key>spriteSourceSize</key>
                <string>{89,113}</string>
                <key>textureRect</key>
                <string>{{1,1083},{89,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_26_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,111}</string>
                <key>spriteSourceSize</key>
                <string>{86,111}</string>
                <key>textureRect</key>
                <string>{{1,903},{86,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_27_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{82,110}</string>
                <key>textureRect</key>
                <string>{{1,476},{82,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_28_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{231,75},{75,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_29_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,110}</string>
                <key>spriteSourceSize</key>
                <string>{75,110}</string>
                <key>textureRect</key>
                <string>{{340,77},{75,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_30_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,105}</string>
                <key>spriteSourceSize</key>
                <string>{80,105}</string>
                <key>textureRect</key>
                <string>{{1,304},{80,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_31_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,113}</string>
                <key>spriteSourceSize</key>
                <string>{82,113}</string>
                <key>textureRect</key>
                <string>{{223,479},{82,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_32_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,120}</string>
                <key>spriteSourceSize</key>
                <string>{83,120}</string>
                <key>textureRect</key>
                <string>{{1,645},{83,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_33_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{84,112}</string>
                <key>textureRect</key>
                <string>{{231,733},{84,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_34_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,111}</string>
                <key>spriteSourceSize</key>
                <string>{84,111}</string>
                <key>textureRect</key>
                <string>{{345,734},{84,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_35_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,114}</string>
                <key>spriteSourceSize</key>
                <string>{84,114}</string>
                <key>textureRect</key>
                <string>{{114,819},{84,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_36_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,114}</string>
                <key>spriteSourceSize</key>
                <string>{83,114}</string>
                <key>textureRect</key>
                <string>{{351,563},{83,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_37_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,116}</string>
                <key>spriteSourceSize</key>
                <string>{79,116}</string>
                <key>textureRect</key>
                <string>{{213,312},{79,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_38_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,116}</string>
                <key>spriteSourceSize</key>
                <string>{73,116}</string>
                <key>textureRect</key>
                <string>{{1,73},{73,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_39_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,117}</string>
                <key>spriteSourceSize</key>
                <string>{70,117}</string>
                <key>textureRect</key>
                <string>{{119,1},{70,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_40_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,110}</string>
                <key>spriteSourceSize</key>
                <string>{75,110}</string>
                <key>textureRect</key>
                <string>{{1,148},{75,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_41_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,103}</string>
                <key>spriteSourceSize</key>
                <string>{80,103}</string>
                <key>textureRect</key>
                <string>{{108,307},{80,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_42_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,106}</string>
                <key>spriteSourceSize</key>
                <string>{81,106}</string>
                <key>textureRect</key>
                <string>{{225,395},{81,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_43_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,108}</string>
                <key>spriteSourceSize</key>
                <string>{82,108}</string>
                <key>textureRect</key>
                <string>{{113,476},{82,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_44_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,116}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{114,906},{85,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_45_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,111}</string>
                <key>spriteSourceSize</key>
                <string>{86,111}</string>
                <key>textureRect</key>
                <string>{{232,906},{86,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_46_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,110}</string>
                <key>spriteSourceSize</key>
                <string>{88,110}</string>
                <key>textureRect</key>
                <string>{{112,993},{88,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_47_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,114}</string>
                <key>spriteSourceSize</key>
                <string>{89,114}</string>
                <key>textureRect</key>
                <string>{{116,1085},{89,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_48_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,110}</string>
                <key>spriteSourceSize</key>
                <string>{86,110}</string>
                <key>textureRect</key>
                <string>{{345,907},{86,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_49_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,110}</string>
                <key>spriteSourceSize</key>
                <string>{83,110}</string>
                <key>textureRect</key>
                <string>{{123,648},{83,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_50_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,108}</string>
                <key>spriteSourceSize</key>
                <string>{75,108}</string>
                <key>textureRect</key>
                <string>{{113,150},{75,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_51_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,110}</string>
                <key>spriteSourceSize</key>
                <string>{74,110}</string>
                <key>textureRect</key>
                <string>{{356,1},{74,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_52_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,107}</string>
                <key>spriteSourceSize</key>
                <string>{78,107}</string>
                <key>textureRect</key>
                <string>{{112,227},{78,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_53_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,109}</string>
                <key>spriteSourceSize</key>
                <string>{82,109}</string>
                <key>textureRect</key>
                <string>{{338,479},{82,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_54_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{235,648},{83,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_55_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,115}</string>
                <key>spriteSourceSize</key>
                <string>{84,115}</string>
                <key>textureRect</key>
                <string>{{230,820},{84,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_56_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,110}</string>
                <key>spriteSourceSize</key>
                <string>{84,110}</string>
                <key>textureRect</key>
                <string>{{356,648},{84,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyBoss1.png</string>
            <key>size</key>
            <string>{467,1177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f9ac6d81bfb453433b6bc4dc4e2bdb9:ea5b5f56aff8d6073e6c8d861fe99b28:d891f62afecebe65b98f38860d6c6efc$</string>
            <key>textureFileName</key>
            <string>EnemyBoss1.png</string>
        </dict>
    </dict>
</plist>
