<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,122}</string>
                <key>spriteSourceSize</key>
                <string>{88,122}</string>
                <key>textureRect</key>
                <string>{{785,0},{88,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,124}</string>
                <key>spriteSourceSize</key>
                <string>{86,124}</string>
                <key>textureRect</key>
                <string>{{617,122},{86,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,124}</string>
                <key>spriteSourceSize</key>
                <string>{91,124}</string>
                <key>textureRect</key>
                <string>{{526,122},{91,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,127}</string>
                <key>spriteSourceSize</key>
                <string>{91,127}</string>
                <key>textureRect</key>
                <string>{{607,247},{91,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,127}</string>
                <key>spriteSourceSize</key>
                <string>{87,127}</string>
                <key>textureRect</key>
                <string>{{520,247},{87,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,127}</string>
                <key>spriteSourceSize</key>
                <string>{84,127}</string>
                <key>textureRect</key>
                <string>{{352,247},{84,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,127}</string>
                <key>spriteSourceSize</key>
                <string>{82,127}</string>
                <key>textureRect</key>
                <string>{{489,374},{82,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,127}</string>
                <key>spriteSourceSize</key>
                <string>{78,127}</string>
                <key>textureRect</key>
                <string>{{83,374},{78,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_09_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,125}</string>
                <key>spriteSourceSize</key>
                <string>{80,125}</string>
                <key>textureRect</key>
                <string>{{783,122},{80,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,122}</string>
                <key>spriteSourceSize</key>
                <string>{84,122}</string>
                <key>textureRect</key>
                <string>{{701,0},{84,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,118}</string>
                <key>spriteSourceSize</key>
                <string>{87,118}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,118}</string>
                <key>spriteSourceSize</key>
                <string>{89,118}</string>
                <key>textureRect</key>
                <string>{{87,0},{89,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,124}</string>
                <key>spriteSourceSize</key>
                <string>{87,124}</string>
                <key>textureRect</key>
                <string>{{439,122},{87,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_14_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,123}</string>
                <key>spriteSourceSize</key>
                <string>{91,123}</string>
                <key>textureRect</key>
                <string>{{0,122},{91,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_15_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,126}</string>
                <key>spriteSourceSize</key>
                <string>{91,126}</string>
                <key>textureRect</key>
                <string>{{92,247},{91,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,127}</string>
                <key>spriteSourceSize</key>
                <string>{90,127}</string>
                <key>textureRect</key>
                <string>{{571,374},{90,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_17_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,127}</string>
                <key>spriteSourceSize</key>
                <string>{85,127}</string>
                <key>textureRect</key>
                <string>{{239,374},{85,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_18_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,127}</string>
                <key>spriteSourceSize</key>
                <string>{83,127}</string>
                <key>textureRect</key>
                <string>{{324,374},{83,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_19_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,126}</string>
                <key>spriteSourceSize</key>
                <string>{78,126}</string>
                <key>textureRect</key>
                <string>{{183,247},{78,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_20_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,127}</string>
                <key>spriteSourceSize</key>
                <string>{78,127}</string>
                <key>textureRect</key>
                <string>{{161,374},{78,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_21_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,124}</string>
                <key>spriteSourceSize</key>
                <string>{82,124}</string>
                <key>textureRect</key>
                <string>{{357,122},{82,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_22_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,118}</string>
                <key>spriteSourceSize</key>
                <string>{86,118}</string>
                <key>textureRect</key>
                <string>{{352,0},{86,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_23_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,118}</string>
                <key>spriteSourceSize</key>
                <string>{88,118}</string>
                <key>textureRect</key>
                <string>{{264,0},{88,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_24_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,121}</string>
                <key>spriteSourceSize</key>
                <string>{89,121}</string>
                <key>textureRect</key>
                <string>{{527,0},{89,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_25_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,123}</string>
                <key>spriteSourceSize</key>
                <string>{89,123}</string>
                <key>textureRect</key>
                <string>{{91,122},{89,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_26_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,126}</string>
                <key>spriteSourceSize</key>
                <string>{92,126}</string>
                <key>textureRect</key>
                <string>{{0,247},{92,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_27_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{90,128}</string>
                <key>textureRect</key>
                <string>{{747,374},{90,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_28_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{86,128}</string>
                <key>textureRect</key>
                <string>{{661,374},{86,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_29_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,127}</string>
                <key>spriteSourceSize</key>
                <string>{83,127}</string>
                <key>textureRect</key>
                <string>{{0,374},{83,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_30_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{837,374},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_31_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,127}</string>
                <key>spriteSourceSize</key>
                <string>{78,127}</string>
                <key>textureRect</key>
                <string>{{698,247},{78,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_32_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,125}</string>
                <key>spriteSourceSize</key>
                <string>{80,125}</string>
                <key>textureRect</key>
                <string>{{703,122},{80,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_33_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{616,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_34_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,118}</string>
                <key>spriteSourceSize</key>
                <string>{88,118}</string>
                <key>textureRect</key>
                <string>{{176,0},{88,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_35_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{438,0},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_36_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,124}</string>
                <key>spriteSourceSize</key>
                <string>{86,124}</string>
                <key>textureRect</key>
                <string>{{271,122},{86,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_37_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,124}</string>
                <key>spriteSourceSize</key>
                <string>{91,124}</string>
                <key>textureRect</key>
                <string>{{180,122},{91,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_38_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,127}</string>
                <key>spriteSourceSize</key>
                <string>{91,127}</string>
                <key>textureRect</key>
                <string>{{261,247},{91,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_39_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,127}</string>
                <key>spriteSourceSize</key>
                <string>{87,127}</string>
                <key>textureRect</key>
                <string>{{776,247},{87,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_40_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,127}</string>
                <key>spriteSourceSize</key>
                <string>{84,127}</string>
                <key>textureRect</key>
                <string>{{436,247},{84,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_41_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,127}</string>
                <key>spriteSourceSize</key>
                <string>{82,127}</string>
                <key>textureRect</key>
                <string>{{407,374},{82,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GunmanSprint.png</string>
            <key>size</key>
            <string>{917,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8a33e3bac29b3c6705839f24b520d4f:fbcf1601af2a9490411af4fa489a9a3a:7592df8d8da2854b21c7655355b43a05$</string>
            <key>textureFileName</key>
            <string>GunmanSprint.png</string>
        </dict>
    </dict>
</plist>
