<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,136}</string>
                <key>spriteSourceSize</key>
                <string>{82,136}</string>
                <key>textureRect</key>
                <string>{{0,1063},{82,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,136}</string>
                <key>spriteSourceSize</key>
                <string>{81,136}</string>
                <key>textureRect</key>
                <string>{{84,381},{81,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,136}</string>
                <key>spriteSourceSize</key>
                <string>{82,136}</string>
                <key>textureRect</key>
                <string>{{82,1063},{82,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,138}</string>
                <key>spriteSourceSize</key>
                <string>{81,138}</string>
                <key>textureRect</key>
                <string>{{0,1201},{81,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,137}</string>
                <key>spriteSourceSize</key>
                <string>{81,137}</string>
                <key>textureRect</key>
                <string>{{0,792},{81,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,138}</string>
                <key>spriteSourceSize</key>
                <string>{81,138}</string>
                <key>textureRect</key>
                <string>{{164,1063},{81,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{82,122}</string>
                <key>textureRect</key>
                <string>{{82,0},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,126}</string>
                <key>spriteSourceSize</key>
                <string>{83,126}</string>
                <key>textureRect</key>
                <string>{{165,123},{83,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_09_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{165,249},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,132}</string>
                <key>spriteSourceSize</key>
                <string>{82,132}</string>
                <key>textureRect</key>
                <string>{{83,249},{82,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,134}</string>
                <key>spriteSourceSize</key>
                <string>{83,134}</string>
                <key>textureRect</key>
                <string>{{166,929},{83,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,135}</string>
                <key>spriteSourceSize</key>
                <string>{83,135}</string>
                <key>textureRect</key>
                <string>{{0,1339},{83,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,136}</string>
                <key>spriteSourceSize</key>
                <string>{83,136}</string>
                <key>textureRect</key>
                <string>{{82,1476},{83,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_14_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,137}</string>
                <key>spriteSourceSize</key>
                <string>{81,137}</string>
                <key>textureRect</key>
                <string>{{163,655},{81,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_15_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,137}</string>
                <key>spriteSourceSize</key>
                <string>{82,137}</string>
                <key>textureRect</key>
                <string>{{0,1476},{82,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,138}</string>
                <key>spriteSourceSize</key>
                <string>{82,138}</string>
                <key>textureRect</key>
                <string>{{165,1476},{82,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_17_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,138}</string>
                <key>spriteSourceSize</key>
                <string>{81,138}</string>
                <key>textureRect</key>
                <string>{{81,1201},{81,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_18_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,138}</string>
                <key>spriteSourceSize</key>
                <string>{81,138}</string>
                <key>textureRect</key>
                <string>{{162,1201},{81,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_19_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,123}</string>
                <key>spriteSourceSize</key>
                <string>{82,123}</string>
                <key>textureRect</key>
                <string>{{164,0},{82,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_20_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,126}</string>
                <key>spriteSourceSize</key>
                <string>{82,126}</string>
                <key>textureRect</key>
                <string>{{0,123},{82,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_21_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,130}</string>
                <key>spriteSourceSize</key>
                <string>{83,130}</string>
                <key>textureRect</key>
                <string>{{0,249},{83,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_22_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,133}</string>
                <key>spriteSourceSize</key>
                <string>{83,133}</string>
                <key>textureRect</key>
                <string>{{165,381},{83,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_23_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,133}</string>
                <key>spriteSourceSize</key>
                <string>{83,133}</string>
                <key>textureRect</key>
                <string>{{0,517},{83,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_24_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,134}</string>
                <key>spriteSourceSize</key>
                <string>{83,134}</string>
                <key>textureRect</key>
                <string>{{83,929},{83,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_25_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,135}</string>
                <key>spriteSourceSize</key>
                <string>{82,135}</string>
                <key>textureRect</key>
                <string>{{0,655},{82,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_26_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,137}</string>
                <key>spriteSourceSize</key>
                <string>{81,137}</string>
                <key>textureRect</key>
                <string>{{82,655},{81,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_27_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,137}</string>
                <key>spriteSourceSize</key>
                <string>{82,137}</string>
                <key>textureRect</key>
                <string>{{166,1339},{82,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_28_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,137}</string>
                <key>spriteSourceSize</key>
                <string>{81,137}</string>
                <key>textureRect</key>
                <string>{{81,792},{81,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_29_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,137}</string>
                <key>spriteSourceSize</key>
                <string>{81,137}</string>
                <key>textureRect</key>
                <string>{{162,792},{81,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_30_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,138}</string>
                <key>spriteSourceSize</key>
                <string>{80,138}</string>
                <key>textureRect</key>
                <string>{{166,517},{80,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_31_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{82,122}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_32_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,126}</string>
                <key>spriteSourceSize</key>
                <string>{83,126}</string>
                <key>textureRect</key>
                <string>{{82,123},{83,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_33_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{0,381},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_34_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,133}</string>
                <key>spriteSourceSize</key>
                <string>{83,133}</string>
                <key>textureRect</key>
                <string>{{83,517},{83,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_35_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,134}</string>
                <key>spriteSourceSize</key>
                <string>{83,134}</string>
                <key>textureRect</key>
                <string>{{0,929},{83,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_36_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,135}</string>
                <key>spriteSourceSize</key>
                <string>{83,135}</string>
                <key>textureRect</key>
                <string>{{83,1339},{83,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GunmanAttack.png</string>
            <key>size</key>
            <string>{249,1614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f294421f30ae41ab40ac7aa79918bfef:d92fa77cd976fb9d9b92e330aefcc219:dfb9d95e56683af10f2d0bbc6b81709f$</string>
            <key>textureFileName</key>
            <string>GunmanAttack.png</string>
        </dict>
    </dict>
</plist>
