<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,225}</string>
                <key>spriteSourceSize</key>
                <string>{109,225}</string>
                <key>textureRect</key>
                <string>{{886,0},{109,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,213}</string>
                <key>spriteSourceSize</key>
                <string>{119,213}</string>
                <key>textureRect</key>
                <string>{{250,0},{119,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,206}</string>
                <key>spriteSourceSize</key>
                <string>{127,206}</string>
                <key>textureRect</key>
                <string>{{0,0},{127,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,210}</string>
                <key>spriteSourceSize</key>
                <string>{123,210}</string>
                <key>textureRect</key>
                <string>{{127,0},{123,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,214}</string>
                <key>spriteSourceSize</key>
                <string>{111,214}</string>
                <key>textureRect</key>
                <string>{{369,0},{111,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,220}</string>
                <key>spriteSourceSize</key>
                <string>{100,220}</string>
                <key>textureRect</key>
                <string>{{480,0},{100,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,229}</string>
                <key>spriteSourceSize</key>
                <string>{90,229}</string>
                <key>textureRect</key>
                <string>{{202,225},{90,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,238}</string>
                <key>spriteSourceSize</key>
                <string>{92,238}</string>
                <key>textureRect</key>
                <string>{{292,225},{92,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_09_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,247}</string>
                <key>spriteSourceSize</key>
                <string>{95,247}</string>
                <key>textureRect</key>
                <string>{{485,225},{95,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,254}</string>
                <key>spriteSourceSize</key>
                <string>{97,254}</string>
                <key>textureRect</key>
                <string>{{779,225},{97,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,258}</string>
                <key>spriteSourceSize</key>
                <string>{99,258}</string>
                <key>textureRect</key>
                <string>{{876,225},{99,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,247}</string>
                <key>spriteSourceSize</key>
                <string>{101,247}</string>
                <key>textureRect</key>
                <string>{{580,225},{101,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,246}</string>
                <key>spriteSourceSize</key>
                <string>{101,246}</string>
                <key>textureRect</key>
                <string>{{384,225},{101,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_14_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,250}</string>
                <key>spriteSourceSize</key>
                <string>{98,250}</string>
                <key>textureRect</key>
                <string>{{681,225},{98,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_15_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,225}</string>
                <key>spriteSourceSize</key>
                <string>{112,225}</string>
                <key>textureRect</key>
                <string>{{774,0},{112,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,226}</string>
                <key>spriteSourceSize</key>
                <string>{104,226}</string>
                <key>textureRect</key>
                <string>{{0,225},{104,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_17_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,228}</string>
                <key>spriteSourceSize</key>
                <string>{98,228}</string>
                <key>textureRect</key>
                <string>{{104,225},{98,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_18_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,225}</string>
                <key>spriteSourceSize</key>
                <string>{96,225}</string>
                <key>textureRect</key>
                <string>{{678,0},{96,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_19_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,224}</string>
                <key>spriteSourceSize</key>
                <string>{98,224}</string>
                <key>textureRect</key>
                <string>{{580,0},{98,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WhaleRun.png</string>
            <key>size</key>
            <string>{995,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba2d3c004d622ee3a2475a34203a161d:4ad74f2833abf03a72a05b6cbd82ae79:27e18837625c5e929277c4dd938c9f66$</string>
            <key>textureFileName</key>
            <string>WhaleRun.png</string>
        </dict>
    </dict>
</plist>
