<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,95}</string>
                <key>spriteSourceSize</key>
                <string>{61,95}</string>
                <key>textureRect</key>
                <string>{{0,375},{61,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{60,93}</string>
                <key>textureRect</key>
                <string>{{422,93},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,94}</string>
                <key>spriteSourceSize</key>
                <string>{61,94}</string>
                <key>textureRect</key>
                <string>{{425,186},{61,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,94}</string>
                <key>spriteSourceSize</key>
                <string>{61,94}</string>
                <key>textureRect</key>
                <string>{{0,280},{61,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,95}</string>
                <key>spriteSourceSize</key>
                <string>{61,95}</string>
                <key>textureRect</key>
                <string>{{61,375},{61,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,99}</string>
                <key>spriteSourceSize</key>
                <string>{66,99}</string>
                <key>textureRect</key>
                <string>{{195,569},{66,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{60,93}</string>
                <key>textureRect</key>
                <string>{{362,93},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{61,93}</string>
                <key>textureRect</key>
                <string>{{301,93},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_09_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{365,186},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{62,94}</string>
                <key>textureRect</key>
                <string>{{61,280},{62,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{61,93}</string>
                <key>textureRect</key>
                <string>{{182,186},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,99}</string>
                <key>spriteSourceSize</key>
                <string>{64,99}</string>
                <key>textureRect</key>
                <string>{{326,569},{64,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{61,93}</string>
                <key>textureRect</key>
                <string>{{120,93},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_14_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,94}</string>
                <key>spriteSourceSize</key>
                <string>{61,94}</string>
                <key>textureRect</key>
                <string>{{123,280},{61,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_15_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,98}</string>
                <key>spriteSourceSize</key>
                <string>{64,98}</string>
                <key>textureRect</key>
                <string>{{65,569},{64,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{61,93}</string>
                <key>textureRect</key>
                <string>{{303,0},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_17_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{61,93}</string>
                <key>textureRect</key>
                <string>{{242,0},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_18_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{61,93}</string>
                <key>textureRect</key>
                <string>{{364,0},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_19_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{61,93}</string>
                <key>textureRect</key>
                <string>{{425,0},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_20_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,92}</string>
                <key>spriteSourceSize</key>
                <string>{61,92}</string>
                <key>textureRect</key>
                <string>{{60,0},{61,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_21_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_22_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{60,93}</string>
                <key>textureRect</key>
                <string>{{181,93},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_23_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{60,93}</string>
                <key>textureRect</key>
                <string>{{60,93},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_24_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,99}</string>
                <key>spriteSourceSize</key>
                <string>{66,99}</string>
                <key>textureRect</key>
                <string>{{129,569},{66,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_25_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,94}</string>
                <key>spriteSourceSize</key>
                <string>{61,94}</string>
                <key>textureRect</key>
                <string>{{243,186},{61,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_26_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,94}</string>
                <key>spriteSourceSize</key>
                <string>{61,94}</string>
                <key>textureRect</key>
                <string>{{304,186},{61,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_27_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{62,95}</string>
                <key>textureRect</key>
                <string>{{369,280},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_28_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{62,96}</string>
                <key>textureRect</key>
                <string>{{311,375},{62,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_29_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,96}</string>
                <key>spriteSourceSize</key>
                <string>{63,96}</string>
                <key>textureRect</key>
                <string>{{248,375},{63,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_30_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{64,97}</string>
                <key>textureRect</key>
                <string>{{187,471},{64,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_31_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,98}</string>
                <key>spriteSourceSize</key>
                <string>{65,98}</string>
                <key>textureRect</key>
                <string>{{376,471},{65,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_32_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,99}</string>
                <key>spriteSourceSize</key>
                <string>{66,99}</string>
                <key>textureRect</key>
                <string>{{390,569},{66,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_33_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,97}</string>
                <key>spriteSourceSize</key>
                <string>{63,97}</string>
                <key>textureRect</key>
                <string>{{124,471},{63,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_34_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,97}</string>
                <key>spriteSourceSize</key>
                <string>{62,97}</string>
                <key>textureRect</key>
                <string>{{62,471},{62,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_35_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,97}</string>
                <key>spriteSourceSize</key>
                <string>{62,97}</string>
                <key>textureRect</key>
                <string>{{0,471},{62,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_36_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,97}</string>
                <key>spriteSourceSize</key>
                <string>{61,97}</string>
                <key>textureRect</key>
                <string>{{315,471},{61,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_37_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,96}</string>
                <key>spriteSourceSize</key>
                <string>{61,96}</string>
                <key>textureRect</key>
                <string>{{373,375},{61,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_38_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,95}</string>
                <key>spriteSourceSize</key>
                <string>{61,95}</string>
                <key>textureRect</key>
                <string>{{308,280},{61,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_39_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{62,95}</string>
                <key>textureRect</key>
                <string>{{184,280},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_40_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,92}</string>
                <key>spriteSourceSize</key>
                <string>{61,92}</string>
                <key>textureRect</key>
                <string>{{181,0},{61,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_41_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{121,0},{60,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_42_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{60,93}</string>
                <key>textureRect</key>
                <string>{{0,93},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_43_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{60,93}</string>
                <key>textureRect</key>
                <string>{{241,93},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_44_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{60,93}</string>
                <key>textureRect</key>
                <string>{{122,186},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_45_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{61,93}</string>
                <key>textureRect</key>
                <string>{{61,186},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_46_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{61,93}</string>
                <key>textureRect</key>
                <string>{{0,186},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_47_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{62,95}</string>
                <key>textureRect</key>
                <string>{{246,280},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_48_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{62,96}</string>
                <key>textureRect</key>
                <string>{{186,375},{62,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_49_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{122,375},{64,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_50_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{64,97}</string>
                <key>textureRect</key>
                <string>{{251,471},{64,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_51_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,98}</string>
                <key>spriteSourceSize</key>
                <string>{65,98}</string>
                <key>textureRect</key>
                <string>{{0,569},{65,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_52_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,99}</string>
                <key>spriteSourceSize</key>
                <string>{65,99}</string>
                <key>textureRect</key>
                <string>{{261,569},{65,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WormRun.png</string>
            <key>size</key>
            <string>{486,668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd80aa0f1094308d6afdf833cf1062df:854db8ced5df888241aeeccb81746886:1f6370cce98dd6290a86b50f35fec440$</string>
            <key>textureFileName</key>
            <string>WormRun.png</string>
        </dict>
    </dict>
</plist>
