<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,38}</string>
                <key>spriteSourceSize</key>
                <string>{61,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,39}</string>
                <key>spriteSourceSize</key>
                <string>{86,39}</string>
                <key>textureRect</key>
                <string>{{61,0},{86,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{147,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,107}</string>
                <key>spriteSourceSize</key>
                <string>{151,107}</string>
                <key>textureRect</key>
                <string>{{0,39},{151,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{151,39},{5,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{156,39},{5,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{161,39},{6,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,174}</string>
                <key>spriteSourceSize</key>
                <string>{187,174}</string>
                <key>textureRect</key>
                <string>{{0,146},{187,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_14_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,176}</string>
                <key>spriteSourceSize</key>
                <string>{187,176}</string>
                <key>textureRect</key>
                <string>{{0,320},{187,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_15_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,177}</string>
                <key>spriteSourceSize</key>
                <string>{187,177}</string>
                <key>textureRect</key>
                <string>{{0,496},{187,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_17_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,181}</string>
                <key>spriteSourceSize</key>
                <string>{159,181}</string>
                <key>textureRect</key>
                <string>{{0,673},{159,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_19_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,188}</string>
                <key>spriteSourceSize</key>
                <string>{164,188}</string>
                <key>textureRect</key>
                <string>{{0,854},{164,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_21_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,188}</string>
                <key>spriteSourceSize</key>
                <string>{174,188}</string>
                <key>textureRect</key>
                <string>{{0,1042},{174,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_22_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{176,184}</string>
                <key>textureRect</key>
                <string>{{0,1230},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_23_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,185}</string>
                <key>spriteSourceSize</key>
                <string>{175,185}</string>
                <key>textureRect</key>
                <string>{{0,1414},{175,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_28_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,185}</string>
                <key>spriteSourceSize</key>
                <string>{145,185}</string>
                <key>textureRect</key>
                <string>{{0,1599},{145,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attackSkill.png</string>
            <key>size</key>
            <string>{199,1784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cbe63fadae825e7aada20001c80185e:78af1d2c2810470818ae33c4d057e6f2:1152af6d40787312f8db8720dfae18ac$</string>
            <key>textureFileName</key>
            <string>attackSkill.png</string>
        </dict>
    </dict>
</plist>
