<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{0,230},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,83}</string>
                <key>spriteSourceSize</key>
                <string>{102,83}</string>
                <key>textureRect</key>
                <string>{{97,147},{102,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,76}</string>
                <key>spriteSourceSize</key>
                <string>{108,76}</string>
                <key>textureRect</key>
                <string>{{0,69},{108,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,68}</string>
                <key>spriteSourceSize</key>
                <string>{112,68}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,133}</string>
                <key>spriteSourceSize</key>
                <string>{85,133}</string>
                <key>textureRect</key>
                <string>{{82,330},{85,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,125}</string>
                <key>spriteSourceSize</key>
                <string>{82,125}</string>
                <key>textureRect</key>
                <string>{{0,330},{82,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{84,100}</string>
                <key>textureRect</key>
                <string>{{95,230},{84,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,78}</string>
                <key>spriteSourceSize</key>
                <string>{97,78}</string>
                <key>textureRect</key>
                <string>{{0,147},{97,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_09_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,69}</string>
                <key>spriteSourceSize</key>
                <string>{100,69}</string>
                <key>textureRect</key>
                <string>{{112,0},{100,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,78}</string>
                <key>textureRect</key>
                <string>{{108,69},{100,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack1.png</string>
            <key>size</key>
            <string>{212,463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:299eb14db9c04ba08963bc9ffe8f3cfa:0110ed7ced2055cd5cfa04306d2d3e4d:7687a55f8ea4ae98c40ca9c52a3de62e$</string>
            <key>textureFileName</key>
            <string>attack1.png</string>
        </dict>
    </dict>
</plist>
