<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{134,400},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{134,332},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{133,676},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,74}</string>
                <key>spriteSourceSize</key>
                <string>{65,74}</string>
                <key>textureRect</key>
                <string>{{132,1032},{65,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{130,1420},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{130,1501},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{66,79}</string>
                <key>textureRect</key>
                <string>{{132,1260},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{133,1106},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_09_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{67,69}</string>
                <key>textureRect</key>
                <string>{{133,537},{67,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{134,130},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{134,64},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,70}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{66,676},{67,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_14_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,71}</string>
                <key>spriteSourceSize</key>
                <string>{67,71}</string>
                <key>textureRect</key>
                <string>{{134,817},{67,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_15_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,72}</string>
                <key>spriteSourceSize</key>
                <string>{67,72}</string>
                <key>textureRect</key>
                <string>{{134,888},{67,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,72}</string>
                <key>spriteSourceSize</key>
                <string>{67,72}</string>
                <key>textureRect</key>
                <string>{{0,888},{67,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_17_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,71}</string>
                <key>spriteSourceSize</key>
                <string>{67,71}</string>
                <key>textureRect</key>
                <string>{{132,746},{67,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_18_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{134,264},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_19_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{0,197},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_20_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{67,537},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_21_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{0,746},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_22_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,77}</string>
                <key>spriteSourceSize</key>
                <string>{65,77}</string>
                <key>textureRect</key>
                <string>{{131,1183},{65,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_23_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{0,1420},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_24_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{131,1339},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_25_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{66,79}</string>
                <key>textureRect</key>
                <string>{{0,1260},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_26_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,76}</string>
                <key>spriteSourceSize</key>
                <string>{66,76}</string>
                <key>textureRect</key>
                <string>{{67,1106},{66,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_27_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{67,197},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_28_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{0,130},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_29_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{67,0},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_30_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{67,264},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_31_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,70}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{133,606},{67,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_32_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,71}</string>
                <key>spriteSourceSize</key>
                <string>{67,71}</string>
                <key>textureRect</key>
                <string>{{0,817},{67,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_33_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,72}</string>
                <key>spriteSourceSize</key>
                <string>{67,72}</string>
                <key>textureRect</key>
                <string>{{67,960},{67,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_34_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,72}</string>
                <key>spriteSourceSize</key>
                <string>{67,72}</string>
                <key>textureRect</key>
                <string>{{0,960},{67,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_35_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,70}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{66,606},{67,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_36_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{0,332},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_37_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{0,400},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_38_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{0,676},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_39_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{66,746},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_40_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,77}</string>
                <key>spriteSourceSize</key>
                <string>{65,77}</string>
                <key>textureRect</key>
                <string>{{0,1183},{65,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_41_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{0,1501},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_42_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,80}</string>
                <key>spriteSourceSize</key>
                <string>{65,80}</string>
                <key>textureRect</key>
                <string>{{66,1339},{65,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_43_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{66,79}</string>
                <key>textureRect</key>
                <string>{{66,1260},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_44_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{67,74}</string>
                <key>textureRect</key>
                <string>{{0,1106},{67,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_45_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{0,264},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_46_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{67,64},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_47_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{0,64},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_48_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{67,332},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_49_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,72}</string>
                <key>spriteSourceSize</key>
                <string>{67,72}</string>
                <key>textureRect</key>
                <string>{{134,960},{67,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_50_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,71}</string>
                <key>spriteSourceSize</key>
                <string>{67,71}</string>
                <key>textureRect</key>
                <string>{{67,817},{67,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_51_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{65,1032},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_52_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,72}</string>
                <key>spriteSourceSize</key>
                <string>{67,72}</string>
                <key>textureRect</key>
                <string>{{67,888},{67,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_53_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{67,69}</string>
                <key>textureRect</key>
                <string>{{67,468},{67,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_54_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{0,468},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_55_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{67,400},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_56_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{0,606},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_57_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,73}</string>
                <key>spriteSourceSize</key>
                <string>{65,73}</string>
                <key>textureRect</key>
                <string>{{0,1032},{65,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_58_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{65,1501},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_59_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{65,1420},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_60_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{66,80}</string>
                <key>textureRect</key>
                <string>{{0,1339},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_61_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{65,1183},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_62_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{67,69}</string>
                <key>textureRect</key>
                <string>{{134,468},{67,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_63_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{134,197},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_64_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{134,0},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_65_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{67,130},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_66_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{67,69}</string>
                <key>textureRect</key>
                <string>{{0,537},{67,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run1.png</string>
            <key>size</key>
            <string>{201,1582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fad7d2b390f91e133ffb5618520de3d:011c73934bc382a96066948b4dbb5cab:57e6670d9dc57e7e2dfe2702d36355a3$</string>
            <key>textureFileName</key>
            <string>run1.png</string>
        </dict>
    </dict>
</plist>
