<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,193}</string>
                <key>spriteSourceSize</key>
                <string>{274,193}</string>
                <key>textureRect</key>
                <string>{{70,0},{274,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,441}</string>
                <key>spriteSourceSize</key>
                <string>{307,441}</string>
                <key>textureRect</key>
                <string>{{637,0},{307,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,491}</string>
                <key>spriteSourceSize</key>
                <string>{326,491}</string>
                <key>textureRect</key>
                <string>{{323,469},{326,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,490}</string>
                <key>spriteSourceSize</key>
                <string>{323,490}</string>
                <key>textureRect</key>
                <string>{{0,469},{323,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,511}</string>
                <key>spriteSourceSize</key>
                <string>{338,511}</string>
                <key>textureRect</key>
                <string>{{649,469},{338,511}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,469}</string>
                <key>spriteSourceSize</key>
                <string>{293,469}</string>
                <key>textureRect</key>
                <string>{{344,0},{293,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,396}</string>
                <key>spriteSourceSize</key>
                <string>{70,396}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill.png</string>
            <key>size</key>
            <string>{987,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba8b78be1421885f58b4252ebe696ffc:7bf05ef28fe46cd07cf376b954956545:de628d2eabb1e43115cf8c86336e45f6$</string>
            <key>textureFileName</key>
            <string>skill.png</string>
        </dict>
    </dict>
</plist>
