<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_14_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,284}</string>
                <key>spriteSourceSize</key>
                <string>{303,284}</string>
                <key>textureRect</key>
                <string>{{0,0},{303,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_15_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,277}</string>
                <key>spriteSourceSize</key>
                <string>{294,277}</string>
                <key>textureRect</key>
                <string>{{303,0},{294,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,277}</string>
                <key>spriteSourceSize</key>
                <string>{298,277}</string>
                <key>textureRect</key>
                <string>{{597,0},{298,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_18_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,282}</string>
                <key>spriteSourceSize</key>
                <string>{305,282}</string>
                <key>textureRect</key>
                <string>{{895,0},{305,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bomb.png</string>
            <key>size</key>
            <string>{1200,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b915444d8a8d338898b66b5a056dbb00:ad4115f9f22566ec6864c411460fafa6:1e1b10e576cef9be88a3ef3da7e44cee$</string>
            <key>textureFileName</key>
            <string>Bomb.png</string>
        </dict>
    </dict>
</plist>
