<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombing11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,472}</string>
                <key>spriteSourceSize</key>
                <string>{478,472}</string>
                <key>textureRect</key>
                <string>{{0,0},{478,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombing12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,472}</string>
                <key>spriteSourceSize</key>
                <string>{478,472}</string>
                <key>textureRect</key>
                <string>{{478,0},{478,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombing13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,472}</string>
                <key>spriteSourceSize</key>
                <string>{478,472}</string>
                <key>textureRect</key>
                <string>{{956,0},{478,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{1434,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5c395b0ee049cd04371bf77253e0e25:fb30b97aa228a8dfbdb03c65aa251016:4be35b031ff921caacbd927ebc46fc95$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
