<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{0,0},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{293,0},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{1172,195},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{1465,195},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{0,390},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{293,390},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{586,390},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{879,390},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{1172,390},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{1465,390},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{586,0},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{879,0},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{1172,0},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{1465,0},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{0,195},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{293,195},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{586,195},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{293,195}</string>
                <key>textureRect</key>
                <string>{{879,195},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box.png</string>
            <key>size</key>
            <string>{1758,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90612b17bca14a6ed77f9f401dca7a1:6a14661f1cb734be4ab4aace88035b6f:e7d5df088989fd73d4e1ab6d0183848c$</string>
            <key>textureFileName</key>
            <string>box.png</string>
        </dict>
    </dict>
</plist>
